---
layout: default
---

<div class="home">
    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="post-list">
        {%- for post in site.posts -%}
        <div class="post">
            {% assign post_image = post.image | default: site.default_post_image %}
            <div class="post-image" style='background: url("{{ post_image }} center center / cover")'></div>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </div>
        {%- endfor -%}
    </div>

    {% else %}
    oh yeah
    {%- endif -%}

</div>